#edehrwypwty7_to {
    animation: edehrwypwty7_to__to 3000ms linear 1 normal forwards
}

@keyframes edehrwypwty7_to__to {
    0% {
        transform: translate(465.500000px, 436.500000px);
        animation-timing-function: cubic-bezier(0.420000, 0, 0.580000, 1)
    }

    25% {
        transform: translate(465.500000px, 1052.500000px)
    }

    100% {
        transform: translate(465.500000px, 1052.500000px)
    }
}

#edehrwypwty47_to {
    animation: edehrwypwty47_to__to 3000ms linear 1 normal forwards
}

@keyframes edehrwypwty47_to__to {
    0% {
        transform: translate(758.500000px, 446.500000px)
    }

    4% {
        transform: translate(758.500000px, 446.500000px);
        animation-timing-function: cubic-bezier(0.420000, 0, 0.580000, 1)
    }

    29.333333% {
        transform: translate(758.500000px, 1052.600000px)
    }

    100% {
        transform: translate(758.500000px, 1052.600000px)
    }
}

#edehrwypwty66_to {
    animation: edehrwypwty66_to__to 3000ms linear 1 normal forwards
}

@keyframes edehrwypwty66_to__to {
    0% {
        transform: translate(1014.500000px, 440.500000px)
    }

    8% {
        transform: translate(1014.500000px, 440.500000px);
        animation-timing-function: cubic-bezier(0.420000, 0, 0.580000, 1)
    }

    33.666667% {
        transform: translate(1014.500000px, 1033.810120px)
    }

    100% {
        transform: translate(1014.500000px, 1033.810120px)
    }
}

#edehrwypwty81_to {
    animation: edehrwypwty81_to__to 3000ms linear 1 normal forwards
}

@keyframes edehrwypwty81_to__to {
    0% {
        transform: translate(1248.500000px, 449.500000px)
    }

    12.333333% {
        transform: translate(1248.500000px, 449.500000px);
        animation-timing-function: cubic-bezier(0.420000, 0, 0.580000, 1)
    }

    37.666667% {
        transform: translate(1248.500000px, 1033.810120px)
    }

    100% {
        transform: translate(1248.500000px, 1033.810120px)
    }
}

#edehrwypwty102_to {
    animation: edehrwypwty102_to__to 3000ms linear 1 normal forwards
}

@keyframes edehrwypwty102_to__to {
    0% {
        transform: translate(211.500000px, 437.500000px)
    }

    37.666667% {
        transform: translate(211.500000px, 437.500000px);
        animation-timing-function: cubic-bezier(0, 0, 0.580000, 1)
    }

    66.666667% {
        transform: translate(384.300000px, 437.500000px)
    }

    100% {
        transform: translate(384.300000px, 437.500000px)
    }
}

#edehrwypwty102_ts {
    animation: edehrwypwty102_ts__ts 3000ms linear 1 normal forwards
}

@keyframes edehrwypwty102_ts__ts {
    0% {
        transform: scale(1, 1)
    }

    37.666667% {
        transform: scale(1, 1);
        animation-timing-function: cubic-bezier(0.420000, 0, 1, 1)
    }

    66.666667% {
        transform: scale(1.500000, 1.500000)
    }

    100% {
        transform: scale(1.500000, 1.500000)
    }
}

#edehrwypwty137_ts {
    animation: edehrwypwty137_ts__ts 3000ms linear 1 normal forwards
}

@keyframes edehrwypwty137_ts__ts {
    0% {
        transform: translate(875.411993px, 437.499619px) scale(1, 1)
    }

    70.666667% {
        transform: translate(875.411993px, 437.499619px) scale(1, 1);
        animation-timing-function: cubic-bezier(0.420000, 0, 1, 1)
    }

    100% {
        transform: translate(875.411993px, 437.499619px) scale(1.106108, 1.106108)
    }
}

#edehrwypwty137 {
    animation: edehrwypwty137_c_o 3000ms linear 1 normal forwards
}

@keyframes edehrwypwty137_c_o {
    0% {
        opacity: 0
    }

    66.666667% {
        opacity: 0
    }

    70.666667% {
        opacity: 1
    }

    100% {
        opacity: 1
    }
}